<!--
.. title: LIS Scholarship Archive
.. slug: index
.. date: 2018-11-05 14:28:00 UTC-04:00
.. hidetitle: True
.. description: homepage for LIS Scholarship Archive informational website.
.. type: text
-->

<!DOCTYPE html>
<html lang="en">
 <body>

       <div class="jumbotron">
        <h1 class="display-4 text-center">The LIS Scholarship Archive</h1>
        <p class="lead text-center">A free, open scholarly platform for library and information science</p>
        <p>LISSA is a place where anyone can have access to library and information science scholarship, in all its forms. As librarians and archivists, we are committed to service permanence, sustainability, discoverability, and ease of access and use. The materials and associated metadata on LISSA are publicly available and readily indexable.</p>
        <a class="btn btn-primary btn-lg" href="/about/" role="button">Learn more</a>
      </div>
      
      <div class="card-deck">
        <div class="card mb-3 bg-light">
            <h4 class="card-header">Committee Updates <i class="fas fa-pencil-alt"></i></h4>
            <div class="card-body">
            {{% post-list stop=5 %}}{{% /post-list %}}
            </div>
            <p class="card-text text-muted card-footer"><a href="/updates/">Read more from us <i class="fas fa-angle-double-right"></i></a></p>
        </div>
        <div class="card mb-3 bg-light">
            <h4 class="card-header">New on LISSA <i class="fas fa-book-reader"></i></h4>
            <div class="card-body">
              <ul>
                 <li><a href="https://osf.io/preprints/lissa/dsx9m/">Effectiveness of Physical Academic Libraries in a Digitally-Evolved World</a></li>
                 <li><a href="https://osf.io/preprints/lissa/rmpes/">Use of Two Screens at Library Reference Desk for Improved Information Services</a></li>
                 <li><a href="https://osf.io/preprints/lissa/k3jqu/">Decolonizing and Participatory Research with Youth in Library Makerspaces</a></li>
              </ul>
            </div>
            <p class="card-text text-muted card-footer"><a href="https://osf.io/preprints/lissa/discover">See everything on LISSA <i class="fas fa-angle-double-right"></i></a></p>
        </div>
        <div class="card mb-3 bg-light">
            <h4 class="card-header">@LISSArchive <i class="fab fa-twitter"></i></h4>
            <div class="card-body">
              <p lang="en" dir="ltr">I was just recommending <a href="https://twitter.com/LISSArchive?ref_src=twsrc%5Etfw">@LISSArchive</a> to a librarian colleague as a preprint outlet for our field, and I mentioned I hadn&#39;t tried it myself, and then I thought, wait why not? So now I&#39;ve tried it. <a href="https://t.co/2fzTMKo5Fv">https://t.co/2fzTMKo5Fv</a></p>&mdash; AJ Boston | <a href="https://twitter.com/AJ_Boston/status/1172235961008152576?ref_src=twsrc%5Etfw">September 12, 2019</a><script async src="https://platform.twitter.com/widgets.js"></script> 
            </div>
            <p class="card-text text-muted card-footer"><a href="https://twitter.com/search?q=%23IASGE&src=recent_search_click&f=live">See all @LISSArchive tweets <i class="fas fa-angle-double-right"></i></a></p>
        </div>
        </div>
           
 </body>
</html>
